<form action="/createpost" method="POST">
    <label >About the Program</label>
    <textarea name="about" id="" cols="30" rows="10"></textarea><br>
    <label >heading</label>
    <input type="text" name="heading" placeholder="heading">
    <label >eligibilityCard</label>
    <input type="text" name="eligibilityCard" placeholder="eligibilityCard">
    <label >eligibilityPage</label>
    <textarea type="text" name="eligibilityPage"  cols="30" rows="10"></textarea><br>
    <label >desirableQualifications</label>
    <textarea type="text" name="desirableQualifications"  cols="30" rows="10"></textarea><br>
    <label for="">benifits</label> 
    <input type="text" name="benifits" placeholder="benifits">
    <label for="">value</label> 
    <input type="text" name="value" placeholder="value">
    <label for="">documents</label>
    <textarea type="text" name="documents"  cols="30" rows="10"></textarea><br>
    <label for="">link</label>
    <input type="text" name="link" placeholder="link">
    <label for="">place</label>
    <input type="text" name="place" placeholder="place">
    <input type="submit" value="create"><br>
    <label for="">Tags</label><br>
    <!-- category -->
    <input type="checkbox" name="girl" value="girl"  > girl
    <input type="checkbox" name="minority" value="minority" >minority
    <input type="checkbox" name="pd" value="pd" >Physical Disabled
    <input type="checkbox" name="sc-st-obc" value="sc-st-obc" >sc/st/obc
    
    <!-- State checkbox -->
    <input type="checkbox" name="west-bengal"value="west-bengal" >west-bengal
    <input type="checkbox" name="uttar-pradesh"value="uttar-pradesh" >uttar-pradesh
    <input type="checkbox" name="bihar"value="bihar" >bihar
    <input type="checkbox" name="madhya-pradesh"value="madhya-pradesh" >madhya-pradesh
    <input type="checkbox" name="maharashtra"value="maharashtra" >maharashtra
    <input type="checkbox" name="karnataka"value="karnataka" >karnataka
    <input type="checkbox" name="rajasthan"value="rajasthan" >rajasthan
    <input type="checkbox" name="gujarat"value="gujarat" >gujarat

<!-- current-class -->
    <input type="checkbox" name="1-10"value="1-10" >1st to 10th
    <input type="checkbox" name="11-12" value="11-12">11th to 12th
    <input type="checkbox" name="polytechnic-diploma-iti" value="polytechnic-diploma-iti" >polytechnic-diploma-iti
    <input type="checkbox" name="graduation" value="graduation" >graduation
    <input type="checkbox" name="post-graduation" value="post-graduation" >post-graduation
    <input type="checkbox" name="phd-post-doctoral" value="phd-post-doctoral" >phd-post-doctoral
<!-- type -->
    <input type="checkbox" name="income-based" value="income-based" >income-based
    <input type="checkbox" name="merit-based" value="merit-based" >merit-based
    <!-- international -->
    <input type="checkbox" name="united-states" value="united-states" >united-states
    <input type="checkbox" name="australia" value="australia" >australia
    <input type="checkbox" name="new-zealand" value="new-zealand" >new-zealand
    <input type="checkbox" name="canada" value="canada" >canada
    <input type="checkbox" name="malaysia" value="malaysia" >malaysia
    <input type="checkbox" name="united-kingdom" value="united-kingdom" >united-kingdom
    <input type="checkbox" name="france" value="france" >france
    <input type="checkbox" name="germany" value="germany" >germany
    <input type="checkbox" name="ireland" value="ireland" >ireland
    <!-- government -->
    <input type="checkbox" name="nsp-pre-matric-scholarships-scheme-for-minorities" value="nsp-pre-matric-scholarships-scheme-for-minorities" >nsp-pre-matric-scholarships-scheme-for-minorities
    <input type="checkbox" name="nsp-post-matric-scholarships-scheme-for-minorities" value="nsp-post-matric-scholarships-scheme-for-minorities" >nsp-post-matric-scholarships-scheme-for-minorities
    <input type="checkbox" name="nsp-natioanal-means-cum-merit-scholarships-scheme" value="nsp-natioanal-means-cum-merit-scholarships-scheme" >nsp-natioanal-means-cum-merit-scholarships-scheme
    <input type="checkbox" name="nsp-central-sector-scheme-of-scholarship-for-college" value="nsp-central-sector-scheme-of-scholarship-for-college" >nsp-central-sector-scheme-of-scholarship-for-college
    <input type="checkbox" name="nsp-top-class-education-for-sc-students" value="nsp-top-class-education-for-sc-students" >nsp-top-class-education-for-sc-students
    <input type="checkbox" name="special-scholarship-scheme-ishan-uday-for-ner" value="special-scholarship-scheme-ishan-uday-for-ner" >special-scholarship-scheme-ishan-uday-for-ner
    <input type="checkbox" name="post-graduate-indira-gandhi-scholarship-for-single-girl-child" value="post-graduate-indira-gandhi-scholarship-for-single-girl-child" >post-graduate-indira-gandhi-scholarship-for-single-girl-child
    <input type="checkbox" name="post-graduate-merit-scholarship-for-university-rank-holders" value="post-graduate-merit-scholarship-for-university-rank-holders" >post-graduate-merit-scholarship-for-university-rank-holders

</form>