<form action="/createpost" method="POST">
    <label >About the Program</label>
    <textarea name="about" id="" cols="30" rows="10"></textarea><br>
    <label >heading</label>
    <input type="text" name="heading" placeholder="heading">
    <label >eligibilityCard</label>
    <input type="text" name="eligibilityCard" placeholder="eligibilityCard">
    <label >eligibilityPage</label>
    <textarea type="text" name="eligibilityPage"  cols="30" rows="10"></textarea><br>
    <label >desirableQualifications</label>
    <textarea type="text" name="desirableQualifications"  cols="30" rows="10"></textarea><br>
    <label for="">benifits</label> 
    <input type="text" name="benifits" placeholder="benifits">
    <label for="">value</label> 
    <input type="text" name="value" placeholder="value">
    <label for="">documents</label>
    <textarea type="text" name="documents"  cols="30" rows="10"></textarea><br>
    <label for="">link</label>
    <input type="text" name="link" placeholder="link">
    <label for="">place</label>
    <input type="text" name="place" placeholder="place">
    <input type="submit" value="create"><br>
    <label for="">Tags</label><br>
    <input type="checkbox" name="girl" > girl
    <input type="checkbox" name="minority" >minority
    <input type="checkbox" name="sc/st/obc" >sc/st/obc
    <input type="checkbox" name="1st to 10th" >1st to 10th
    <input type="checkbox" name="11th to 12th">11th to 12th"

</form>