<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="leftbox">
                <h1>Get access to</h1>
                <a href="">Scholarship alerts and updates</a>
                <a href="">Scholrship matching to your profile</a>
                <a href="">Personalised dashboard to check Scholarship application Status</a>
                <a href="">Regular Scholarship newsletters</a>
            </div>
        </div>
        <div class="right">
            <h1>Register</h1>
            <div class="formbox">
            <form action="/register" method="POST">
                
               <div class="rightr">
                   <h3>Student First Name</h3>
                   <input type="text" name="fname" >
               </div>
               <div class="rightr">
                <h3>Student Last Name</h3>
                <input type="text" name="lname">
            </div>
                <div class="rightr">
                <h3>Username
                </h3>
               <input type="text" name="username" id="">
                </div>
            <div class="rightr">
                <h3>Password</h3>
                <input type="password" name="password">
            </div>
            <div class="rightr">
                <h3>Confirm Password</h3>
                <input type="password" name="cpassword">
            </div>
            <div class="rightr">
                <div class="rightbox">
                <input type="checkbox" name="terms">I agree to the terms and conditions
                </div>
            </div> 
            <div class="rightr">
            <div class="btn1"> <button type="submit">Get Started</button>
            </div>
            </div> 
            <div class="btn">
                <img src="google.png" alt="">
                <button><a href="/google"></a> Sign up with Google</button>
            </div>
            <h2>OR</h2>
             
            </form>
            </div>
        </div>
    </div>
</body>
</html>